header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    justify-content: space-around;
    align-items: flex-end;
    padding: var($spacing-small);
    background-color: var($primary);
    min-height: 16rem;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    list-style: none;
    gap: var($spacing-small);
}

.menu__link{
    text-decoration: none;
    font-size: $inter;
    color: $secondary;
    padding: $inter;
    transition: all 1.5s;
}

.menu__item:hover{
    background-color: #643d61;
    border-radius: $px-base; 
}

.header__logo{
    display: flex;
}