header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    justify-content: space-around;
    align-items: flex-end;
    padding: $spacing-small;
    background-color: $primary;
    min-height: 16rem;
    flex-wrap: wrap;
}

.menu{
    @include flex(null,null,null);
    list-style: none;
    gap: $spacing-small;
    &__link{
        text-decoration: none;
        font-size: 1.5em;
        color: $secondary;
        padding: $inter;
        transition: all 1.5s;
        &--active{
            @extend .menu__link;
        }
    }
    &__item:hover{
        background-color: #643d61;
        border-radius: $px-base; 
    }
}      

.header__logo{
    display: flex;
    &__img{
        display: flex;
        top: $px-inter;
        height: 15.5rem;
        width: 15rem;
        -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            -webkit-animation-duration: 3s;
            animation-duration: 3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
            }
            @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
    }
}

.tituloabogada{
    top: 15px;
    color: $alternativ;
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    position: absolute;
    right: 15rem;
    transition: all 1.5s;
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@media screen and (max-width:1100px){
    .pagheader{
        grid-template-columns: repeat(1, 1fr);
        align-self: center;
        align-items: center;
        text-align: center;
        justify-items: center;
    }
    .header__img{
        min-width: 200px;
        justify-items: center;
    }
    .tituloabogada{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: column;
        text-align: center center;
        margin-top: 50px;
        padding: 0;
    }
}