/* colores */
$primary: rgba(250, 173, 186, 0.945);
$secondary: #ffffff;
$thetiary: rgba(0, 0, 0, 0.692);
$alternativ: #643d61;

/* Fuentes */
$font-principal: 'Times New Roman', Times, serif;
$font-title: 'Kaushan Script', cursive;

/* espaciados */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* tamaños */
$large: 6rem;
$medium: 2.4rem;
$base: 2rem;
$inter: 1,5rem;
$small: 1rem;

/* tamaños px */
$px-large: 12px;
$px-medium: 7px;
$px-base: 5px;
$px-inter: 2,5px;
$px-small: 1px;

